<!-- <app-navbar></app-navbar>

<div fxLayout="row wrap" fxLayoutAlign="space-around center" >
<app-pie-chart></app-pie-chart> 
<app-high-chart></app-high-chart>
<app-line-chart></app-line-chart>
<app-radar-chart></app-radar-chart>
<app-scatter-chart></app-scatter-chart>
<app-gauge></app-gauge>
<app-bar-chart></app-bar-chart>
<app-bubble-chart></app-bubble-chart>
<app-doughnut-chart></app-doughnut-chart>
<app-polar-chart></app-polar-chart>
<app-spineer></app-spineer>
<app-card></app-card>
<app-material-spinner></app-material-spinner>
</div> -->

<app-dashboard-graph></app-dashboard-graph>